*{
    background-color:rgb(69, 69, 226) ;
}

.itemBox{
    background-color: aliceblue;
    width: 20vh;
    height: 20vh;
    /* max-width: 15vh;
    max-height: 15vh; */
    margin: auto;
    padding: auto;
}

img{
    display: flex;
    justify-content: space-evenly;
    max-width: 15vh;
    max-height: 15vh;
    margin: auto;
}

ul{
    display: flex;
    text-align: center;
}

/* h4{
    text-align: center;
} */