@font-face {
    font-family: 'Iceberg';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/iceberg/v20/8QIJdijAiM7o-qnZiI8Eqg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


html{
    background-color:rgb(114, 114, 244) ;
    /* height: 100vh;
    width: 100vw; */
}

.container{
    display: flex;
    justify-content: space-evenly;
    /* width: 80vw; */
}

ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    list-style: none;
    
    text-align: center;
    
    margin-left: 5%;
    margin-right: 5%;
    
}

/* .itemBox{
    background-color: aliceblue;
    width: 20vw;
    height: 25vh;
    max-width: 15vh;
    max-height: 15vh;
    margin: auto;
    padding: auto;
} */

.itemBox{
    background: #F9423A;
    border-style: outset;
    border-width: 10px;
    
}

h1{
    font-family: "Iceberg";
    text-align: center;
}

img{
    /* display: flex;
    justify-content: center;
    max-width: 15vw;
    max-height: 15vh;
    margin: auto; */

    max-height: 180px;
    max-width: 180px;
    margin:auto;
}

/* ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    text-align: center;
    margin: auto;
    border: 50px;
    border-color: black;
} */

/* h4{
    text-align: center;
} */

